{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verify Your Email - MovieVerse</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'authentication/css/email_verification.css'%}">
  <script src="https://kit.fontawesome.com/yourkitid.js" crossorigin="anonymous"></script> 
</head>
<body>

  <main>
    <div class="verification-card">
      <div class="otp-sent-msg" id="resentMsg">
        <i class="fas fa-check-circle"></i> A new OTP code has been sent to your email.
      </div>
      <h2>Verify Your Email</h2>
      <p class="info-text">Enter the 6-digit code sent to your email to continue.</p>
      <p class="error-msg" id="errorMsg"></p>
      {% if verification_error %}
        <div id="verification-error" class="verification-error">
          {{ verification_error }}
        </div>
      {% endif %}

      <form id="verifyForm" action="{% url 'email_verification'%}" method="POST">
        {% csrf_token %}
        <div class="otp-row">
          <input type="text" id="otp" name="otp" placeholder="Enter OTP" maxlength="6" required>
          <a href="{% url 'resend_otp' %}"><button type="button" id="resendBtn" name="resend" disabled >Resend</button></a>

        </div>
        <button type="submit" id="verifyBtn" disabled>Verify</button>
        <div id="timer"></div>
      </form>

    </div>
  </main>

  <script src="{% static 'authentication/js/email_verification.js'%}"></script>
</body>
</html>
