{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Your Password - MovieVerse</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'authentication/css/reset_password.css'%}">
</head>
<body>

  <main>
    <div class="reset-card">
      <h2>Reset Your Password</h2>
      <p class="info-text">Enter your email and new password to reset your account.</p>
      <p class="error-msg" id="errorMsg"></p>
      {% if reset_error %}
        <div class="verification-error">{{ reset_error }}</div>
      {% endif %}
      <form id="resetForm" action="{% url 'reset_password'%}" method="POST">
        {% csrf_token %}
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="password" id="newPassword" name="new_password" placeholder="New Password" required>
        <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit" name="submit" id="resetBtn" disabled>Reset Password</button>
      </form>
    </div>
  </main>

  <script src="{% static 'authentication/js/reset_password.js'%}"></script>
</body>
</html>
