{% extends "user_profile/profile_base.html" %}
{% load static humanize %}

{% block title %}Recommendations – MovieVerse{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'user_profile/css/recommendations.css' %}">
{% endblock %}

{% block content %}
<section class="recommendation-section">
  <div class="section-title">Personalized Recommended For You</div>

  {% if movies %}
    <div class="movie-grid">
      {% for m in movies %}
      <div class="movie-card">
        <a href="{% url 'index:movie_detail' m.tmdb_id %}" class="movie-card-link">
        <img src="https://image.tmdb.org/t/p/w200{{ m.poster_path }}" alt="{{ m.title }}">
        </a>
        
        {% comment %} <button class="watchlist-btn" data-url="{% url 'index:toggle_watchlist' %}">
          <i class="fas fa-bookmark"></i></button> {% endcomment %}
        <div class="info">
          <h4>{{ m.title }}</h4>
          <p>
            {% for g in m.genres_list %}{{ g }}{% if not forloop.last %} | {% endif %}{% endfor %}
          </p>
          <div class="meta">
            <span>{% if m.release_date %}{{ m.release_date.year }}{% endif %} • {{ m.runtime }} min</span>
            <span>★ {{ m.vote_average }} <small>({{ m.vote_count|intcomma }})</small></span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">← Prev</a>
      {% endif %}
      {% for p in pages_to_show %}
        {% if p %}
          {% if p == page_obj.number %}
            <span class="current">{{ p }}</span>
          {% else %}
            <a href="?page={{ p }}">{{ p }}</a>
          {% endif %}
        {% else %}
          <span class="dots">…</span>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next →</a>
      {% endif %}
    </div>

  {% else %}
    <p>No recommendations yet. <a href="{% url 'user_profile:preferences' %}">Set your preferences</a>.</p>
  {% endif %}

</section>
{% endblock %}



{% block script %}
  

{% endblock %}
